<%= link_to "/users" do %>
  <button class="users-back-button nav-button">Back to list of users</button>
<% end %>

<%= render partial: "shared/user", locals: { user: @user } %>

<br>
<div class="user-bio">
  <h3>Bio</h3>
  <p><%= @user.bio %></p>
</div>

<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= render partial: "shared/post", locals: { post: post } %>
    <%= link_to user_post_path(params[:id], post) do %>
      <button class="post-detail-button nav-button">Detail</button>
    <% end %>
    <div class="dashed-line"></div>
  <% end %>

  <div class="see-all-posts-button-container">
    <%= link_to "/users/#{@user.id}/posts/" do %>
      <button class="see-all-posts-button nav-button">See all posts</button>
    <% end %>
  </div>
<% else %>
  <p>No posts found.</p>
  <% if current_user == @user %>
    <div class="new-post">
      <%= link_to new_user_post_path(user_id: @user.id) do %>
        <button class="new-post-detail-button">New Post</button>
      <% end %> 
    </div>      
  <% end %>
<% end %>