<%= link_to "Back", "/users/#{@user.id}/" %>
<% if @user.nil? %>
<p>user not found</p>
<% else %>
<%= render partial: "shared/user", locals: { user: @user } %>
<div>
  <% @posts.each do |post| %>
    <%= render partial: "shared/post", locals: { post: post } %>
      <div class="comment">
        <% post.five_recent_comments.each do |comment| %>
          <p><%= comment.author.name %>: <%= comment.text %></p>
        <% end %>
      </div>
      <%= link_to "/users/#{@user.id}/posts/#{post.id}" do %>
        <button class="post-detail-button">Detail</button>
      <% end %>
  <% end %>
</div>       
<% end %>