<% if @user.nil? %>
<p>user not found</p>
<% else %>
<%= render partial: "shared/user", locals: { user: @user } %>
<div>
  <% @posts.each do |post| %>
      <p><%= post.title %></p>
      <p><%= post.text %></p>
      <p>Comments <%= post.comments_counter %></p>
      <div>Likes <%= post.likes_counter %></p> 
      <div>
        <% post.comments.each do |comment| %>
        <p><%= comment.author.name %></p>
        <p><%= comment.text %></p>
        <% end %>
      </div>
  <% end %>
</div>       
<% end %>