<%= link_to "/users/#{@user.id}/posts/" do %>
  <button class="back-to-posts-button nav-button">Back</button>
<% end %>

<%= render partial: "shared/user", locals: { user: @user } %>
<br>
<br>
<br>
<%= render partial: "shared/post", locals: { post: @post } %>


<% if @post.author.id != current_user.id %>
  <% existing_like = Like.find_by(author_id: current_user.id, post_id: @post.id) %>
  <% unless existing_like %>
    <div class="likes-form">
      <%= form_with url: "/users/#{@post.author.id}/posts/#{@post.id}/likes" do |f| %>
        <%= f.submit 'Like' %>
      <% end %>
    </div>
  <% end %>
<% end %>

<div class="comment">
  <% @comments.each do |comment| %>
    <p><%= comment.author.name %>: <%= comment.text %></p>
    <% if can? :destroy, comment %>
      <%= link_to "Delete comment", user_post_comment_path(comment.author.id, @post.id, comment), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          }, class: "delete-comment-button"
      %>
    <% end %>
  <% end %>
</div>

<div class="new-comment">
    <%= link_to new_user_post_comment_path(user_id: @user.id, post_id: @post.id) do %>
      <button class="add-comment-button">Add comment</button>
    <% end %> 
  </div>   

<% if can? :destroy, @post %> 
  <%= button_to "Delete Post", user_post_path(@post.author_id, @post.id), method: :delete, data: { turbo: false }, class: "delete-post-button"%>
<% end %>
